body {
    background: linear-gradient(to bottom, black, darkred, black);
    /*background-color: black;*/
    color: white;
    font-family: monospace;
    font-size: 20px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    color: red;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

img#grup {
    width: 90%;
    max-width: 600px;
    height: auto;
}

a {
    color: red;
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
}

audio {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 450px;
    border-radius: 25px;
    border: darkred solid 5px;
}

#imatges {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    /* 
    buscant com deixar espai entre elements dins de un div he trobat "gap"
    l'utilitzo per que deixi un espai entre els div fills i mai es sobreposin
    */
    justify-items: center;
    margin: 30px;
}

#imatges div {
    text-align: center
}

#imatges img {
    width: 100%;
    max-width: 450px;
    box-shadow: 15px 15px 20px black;
}

#integrants {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
}

table {
    width: 90%;
    max-width: 1000px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    text-align: center;
    border: 5px double white;
}

td, th {
    padding: 5px 10px;
    border: 5px double white;
}

#videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
}

#videos video {
    width: 300px;
    max-width: 90%;
    height: auto;
    border: darkred solid 5px;
    border-radius: 15px;
    box-shadow: 15px 15px 20px black;
}

iframe {
    display: block;
    width: 90%;
    max-width: 600px;
    height: 450px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

footer {
    text-align: center;
    padding: 20px;
}