body {
    background-color: black;
    color: white;
}

#integrants {
    display: flex;
    flex-direction: row;
}

img#grup {
    width: 50%;
}

a {
    color: red;
}

td, th {
    padding: 5px 10px;
}