/* barra de navegació */
.navbar {
  padding: 5px;
  background-color: #f5f6f7; ;
}

/*distribució del menu*/
.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

/*distribució del menu en dispositius mòbils*/
@media screen and (max-width: 768px) {
  .navbar-brand {
    display: none;
  }    
}

/*seccio principal*/
.hero{
    background-color: #f5f6f7;  /*definim el color de fons de la secció principal*/
    min-height: 400; /*definim l'alçada mínima de la secció principal*/
    /* fem servir altura mínima perquè si el contingut de la secció és més gran que l'alçada mínima, la secció s'ajustarà a la mida del contingut*/
    text-align: center; /*centrem el text de la secció principal*/
}

/*Estils generals*/
section {
  display:flex;
  flex-direction: column; /*alineat en columnes del contingut*/
  justify-content: center; /*centrat verticalment*/
  align-items: center; /*centrat horitzontalment*/  
}

h1{
    font-size: 3.5vw; /*mida de la font relativa a la pantalla*/
    font-family:"Vast Shadow"; /*font de la capçalera*/
}

.vast-shadow-regular {
  font-family: "Vast Shadow", serif;
  font-weight: 400;
  font-style: normal;
}

.hero-imatge-developer{
    width:200px;
    height:200px;
    margin:20px;
    /*alerta perquè pressuposem que la imatge és quadrada*/
}

.hero h2{
    font-size: 2.3vw; /*mida de la font relativa a la pantalla*/
    color: #615151; /*color del text*/
}

.hero-inferior img{
    width:50%;
}

.dark-section{
  color:white;  
  background-color: #1b1b32; /*color de fons de la secció fosca*/
}


.about-me{
  height: 500px;
  padding:10px;
}


.about-me div{
  max-width: 600px;
  text-align:center;
}

/*Estils generals*/
.section-title{
  font-size: 2.5vw; /*mida de la font relativa a la pantalla*/
  font-family:"Vast Shadow"; /*font de la capçalera*/
  padding: 5px 0; /*espaiat entre la capçalera i el contingut*/    
}

.section-text{
  font-size: 2vw; /*mida de la font relativa a la pantalla*/
  padding: 15px 0; /*espaiat entre el text i el contingut*/    
}

/* media queries per a dispositius mòbils */
@media screen and (max-width: 768px) {
   /*distribució del menu en dispositius mòbils*/
  .navbar-brand {
    display: none;
  }  
 
  /*Secció sobre mi*/
  .about-me{
    height: 200px;
  }
}

/* media queries per a dispositius mòbils */
@media screen and (max-width: 768px) {
   /*distribució del menu en dispositius mòbils*/
  .navbar-brand {
    display: none;
  }  
 
  /*Secció sobre mi*/
  .about-me{
    height: 200px;
  }


  /*tamany del botó */
  .btn-responive {
     font-size: 11px; padding: 6px 12px;
  }
  
}

.white-section{
  color:black;  
  background-color: white; /*color de fons de la secció clara*/
}

.experiencia-title{
  font-size:2.5vw;
  font-weight: bold;
  margin: 10px 0;
}

.experiencia i{
  font-size: 2vw;
  color: #7ade30;
  background-color:#0a0a23 ;
  padding:8px 19px;
  border-radius: 50%;
}

.experiencia{
  padding: 40px 40px 60px 40px;
}

.columna{
  margin-bottom: 10px;
}


.badges-contenedor{
  font-size:clamp(12px,1.5vw,50px); /*defineix el tamany mínim, màxim i òptim de la font*/    
  font-weight: bold;
  margin: 10px 0;
}

badge{
  margin: 5px,
}

.experiencia i{
  font-size:clamp(14px,2vw,50px); /*defineix el tamany mínim, màxim i òptim de la font*/    
  color: #7ade30;
  background-color:#0a0a23 ;
  padding:8px 19px;
  border-radius: 50%;


}
.experiencia-title{
  font-size:clamp(14px,2.5vw,50px); /*defineix el tamany mínim, màxim i òptim de la font*/    
  font-weight: bold;
  margin: 10px 0;
}

.experiencia .columna{
  margin-bottom: 10px;
  padding: 20px;
  border: 2px solid #8080804d;
  transition: all 0.3s ease-in;
}

.experiencia .columna:hover{
  color:white;
  background-color: #1b1b32;
  border: 2px solid #7ade30;
}

/*Estils generals*/
.section-title{
  font-size:clamp(14px,2.5vw,50px); /*defineix el tamany mínim, màxim i òptim de la font*/    
  font-family:"Vast Shadow"; /*font de la capçalera*/
  padding: 5px 0; /*espaiat entre la capçalera i el contingut*/    
}


I creem dues seccions més
.black-text{
  color: black;
}


/*projectes*/
.section-description{
  font-size:clamp(14px,2vw,50px); /*defineix el tamany mínim, màxim i òptim de la font*/    
  color: #584343;
}

/*projectes-------------------------------------------------------*/
.projectes {
  padding: 40px;
}


.projectes img{
  height: 100%;
  width: 100%;
  padding:10px;
  border-radius: 10px;
  display: block;
  transition: all 0.3s ease;
}


.projectes-container{
  padding-top: 60px;
  margin-bottom: 40px;
}


.overlay{
  transition: all 0.3s ease;
  opacity: 0;  /*transparència de la capa NO ES VEU*/
  position: absolute;
  top:50%;  /*al centre vertical */
  left: 50%;   /* al centre horitzontal */
  transform: translate(-50%, -50%);  
  text-align: center;
 }


 .overlay p{
  font-size:clamp(14px,2.5vw,30px); /*defineix el tamany mínim, màxim i òptim de la font*/    
  margin-bottom: 0;
 }


.projecte {
  position: relative;
}


.projecte:hover img {
  opacity: 0.2;
}


.projecte:hover .overlay {
  opacity: 1;
}


.overlay .icones-contenidor {
  display: flex;
  flex-direction: column; /*alineat en columnes del contingut*/
  justify-content: center; /*centrat verticalment*/
  align-items: center; /*centrat horitzontalment*/  
}


.overlay i {
  color: black;
  font-size: 60px;
  margin: 10px;
}

.video{
  position: relative;
  width: 100%; /* Ajusta el div a l'ample que necessitis */
  padding-top: 56.25%; /* Això manté una relació 16:9 (9 / 16 * 100) */
}


.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.projecte h2{
  font-size:clamp(19px,2.5vw,30px); 
  margin: 10px 0;
}


.projecte p{
  font-size:clamp(14px,2vw,25px);  
  margin: 10px 0 30px 0px;
}