header {
    background-image: url(https://historia-arte.com/_/eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpbSI6WyJcL2FydHdvcmtcL2ltYWdlRmlsZVwvbWlyYzNiM19jYXJuYXZhbC5qcGciLCJyZXNpemUsNjAwLDYwMCJdfQ.IEWdv6oKHzF8xqVndIMtgikg4syoDGoXd8heKkz1qXU.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px;
    text-align: center;
    color: white;
}

#descripcion {
    background-color: rgba(0,0,0,0.5);
}

img {
    border: 3px #1D4E89 solid;
    border-radius: 10px;
}

img:hover {
    transform: scale(1.5);
    transition: transform .5s;
}

body {
    text-align: center;
    background-color: #FFD93D;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    gap: 10px;
    max-width: 100vw;
    padding: 0 10px;
    box-sizing: border-box;
}

.grid-container img {
    width: 100%;
    height: auto;
    display: block;
}

.grid-container img:nth-child(5) {
    grid-column: span 2;
}

.grid-container img:nth-child(6) {
    grid-column: span 2;
}