body {
    text-align: center;
    background-color: #FFD93D;
}

header {
    background-image: url(https://historia-arte.com/_/eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpbSI6WyJcL2FydHdvcmtcL2ltYWdlRmlsZVwvbWlyYzNiM19jYXJuYXZhbC5qcGciLCJyZXNpemUsNjAwLDYwMCJdfQ.IEWdv6oKHzF8xqVndIMtgikg4syoDGoXd8heKkz1qXU.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px;
    color: white;
}

footer {
    background-image: url(https://historia-arte.com/_/eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpbSI6WyJcL2FydHdvcmtcL2ltYWdlRmlsZVwvbWlyYzNiM19jYXJuYXZhbC5qcGciLCJyZXNpemUsNjAwLDYwMCJdfQ.IEWdv6oKHzF8xqVndIMtgikg4syoDGoXd8heKkz1qXU.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px;
    color: white;
}

#textwiki {
    background-color: rgba(0, 0, 0, 0.5);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "img1 img2 img3 img4"
        "img5 img5 img6 img6"
        "img7 img8 img9 img10";
    gap: 15px;
    max-width: 100vw;
    padding: 0 10px;
}

.grid-container img {
    width: 100%;
    height: auto;
    display: block;
    border: 3px #1D4E89 solid;
    border-radius: 10px;
}

img:hover {
    /*
    scale(1.5) --> 150%
    */
    transform: scale(1.5);
    transition: transform .5s;
}

.img1 { grid-area: img1; }
.img2 { grid-area: img2; }
.img3 { grid-area: img3; }
.img4 { grid-area: img4; }
.img5 { grid-area: img5; }
.img6 { grid-area: img6; }
.img7 { grid-area: img7; }
.img8 { grid-area: img8; }
.img9 { grid-area: img9; }
.img10 { grid-area: img10; }