body {
    background-color: rgb(173, 255, 47);
    margin: 0;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    padding: 15px;
    background-color: yellow;
    position: sticky;
    top: 0;
    z-index: 10;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#titol {
    background-image: url(multimedia/images/parc-ambiental.jpg);
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(173, 255, 47, 0.4);
    background-blend-mode: lighten;
    padding: 50px;
}

#titol h1 {
    color: yellow;
    font-size: 50px;
}

footer {
    background-color: yellow;
}

.info_general {
    column-count: 2;
    padding: 25px;
    font-size: 20px;
    column-rule: solid black;
    border-bottom: black solid;
}

p {
    text-align: justify;
    text-align-last: center;
}

.info1 {
    padding-right: 25px;
    padding-left: 25px;
}

.info2 {
    padding-right: 25px;
    padding-left: 25px;
}

img {
    width: 100%;
}

h1 {
    text-align: center;
}

.border {
    border-bottom: black solid;
}

#panorama1, #panorama2, #panorama4, #panorama5, #panorama6, #panorama7, #panorama8, #panorama9 {
    width: 100%;
    height: 400px;
}

#divmaps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
    padding-bottom: 25px;
    align-items: center;
    border-bottom: solid black;
}

#maps {
    border-radius: 25px;
}

#agraiments {
    padding: 40px;
    background-color: rgb(200, 255, 100);
    border-bottom: solid black;
    text-align: center;
}

#agraiments p {
    font-size: 18px;
}

.iframes_ag {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.iframes_ag iframe {
    border-radius: 15px;
    border: solid black 2px;
}

footer {
    background-color: yellow;
    text-align: center;
    padding: 20px;
    font-size: 16px;
}

.footer_content p {
    margin: 5px;
}

@media (max-width: 575px) {

    #menu {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .info_general {
        column-count: 1;
        font-size: 16px;
    }

    #titol h1 {
        font-size: 30px;
    }

    #panorama1, #panorama2, #panorama4, #panorama5,
    #panorama6, #panorama7, #panorama8, #panorama9 {
        height: 250px;
    }

    #maps {
        width: 90%;
        height: 300px;
    }

    .iframes_ag iframe {
        height: 250px;
    }
}

@media (min-width: 576px) and (max-width: 992px) {

    #menu {
        flex-wrap: wrap;
        gap: 15px;
    }

    .info_general {
        column-count: 1;
        font-size: 18px;
    }

    #titol h1 {
        font-size: 40px;
    }

    #panorama1, #panorama2, #panorama4, #panorama5,
    #panorama6, #panorama7, #panorama8, #panorama9 {
        height: 300px;
    }

    #maps {
        width: 95%;
        height: 350px;
    }

    .iframes_ag iframe {
        height: 300px;
    }
}

@media (min-width: 993px) {

    .info_general {
        column-count: 2;
        font-size: 20px;
    }

}